
#primary-nav{
	height: 70px;
	width: 100%;
	background: rgba(33,150,243,0.86);
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: space-between; /* Distribui espaçamento no centro */
	box-shadow: 0px 0px 10px #6d6d6d;
 
}	

#primary-nav * {
	color: white;
}

#primary-nav h2{
	line-height: 70px;
	padding-left: 20px;
}

#primary-nav nav ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	align-items: stretch;
	height: 100%;
}
#primary-nav nav ul a{
	line-height: 70px;
	display: block;
	padding: 0px 10px 0px 10px;
	text-decoration: none;
}