@import 'https://fonts.googleapis.com/css?family=Open+Sans';
* {
	font-family: 'Open Sans', sans-serif;
}

html, body{
	background: #eaeaea;
	margin: 0;
	padding-top: 80px;
}

ul{
	margin: 0px;
	padding: 0px;
}

h1,h2,h3,h4,h5,h6{margin: 0px;}
